/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background:url(bgimg.jpg);
  color: #f2f2f2;
  background-attachment: fixed;

}
h1,h2{
 text-align: center;
 color:rgb(240, 230, 230);
}
.headings{
padding-top: 7%;
  font-family:'Fleur De Leah', cursive;
  font-weight: 100px;
  font-style: normal;
  font-size: 30px;

 
}

.pre-body{


  display: flex;
  padding: 0 35px;
  min-height: 65vh;
  align-items: center;
  justify-content: center;
  
}
.wrapper{

  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 20px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}




#simg{
width: 100px;
height: 100px;
opacity: 80%;
}


a{
  position: absolute;
right: 10%;
top: 30%;
  background:#444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
}
a:hover{
  letter-spacing: 0.25em;
  background:var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
}
a::before{
  content:'';
  position: absolute;
  inset:2px;
  background: #27282c;
}
a span
{
  position: relative;
  z-index: 1;
}
a i
{
  position: absolute;
  inset: 0;
  display: block;
}
a i::before{
  content:'';
  position: absolute;
  top: -6px;
  left:100%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background:#27282c;
  border: 2px solid var(--clr);
  transition: 0.5s;
}
a:hover i::before{
  left:0%;
  transition: translateX(-50%) rotate(45deg);
  box-shadow: 1.3px 47px var(--clr);
}


a i::after{
  content:'';
  position: absolute;
  bottom: -6px;
  left:0;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background:#27282c;
  border: 2px solid var(--clr);
  transition: 0.5s;
}
a:hover i::after{
  left:100%;
  transition: translateX(-50%) rotate(-45deg);
  box-shadow: -1.3px -47px var(--clr);
}